@model ControleDocumentosLibrary.TipoDocumento

<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Cadastro de tipo de documento</h4>
    </div>
    <form action="@Url.Action("SalvarTipoDocumento", "TipoDocumento")" method="post" id=frmTipoDoc>
        <div class="modal-body">
            @Html.HiddenFor(x => x.IdTipoDoc)
            <div class="form-group">
                @Html.Label("Nome*")
                @Html.TextBoxFor(x => x.TipoDocumento1, new { @class = "form-control", @maxlength = 50, @required="required" })
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary">Salvar</button>
        </div>
    </form>
</div>
