@model List<ControleDocumentosLibrary.TipoDocumento>
<form action="@Url.Action("List", "TipoDocumento")" method="get" class="form-filter">
    <table class="table table-striped table-bordered commmon-datatable">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var tipoDoc in Model)
            {
                <tr>
                    <td>@tipoDoc.TipoDocumento1</td>
                    <td class="center">
                        <a class="btnCadastro" data-rel="tooltip" title="Editar" url="@Url.Action("CarregaModalCadastro","TipoDocumento", new { idTipo = tipoDoc.IdTipoDoc })" href="#">
                            <i class="fa fa-edit icon-action"></i>
                        </a>
                        <a class="btnConfirm" data-rel="tooltip" title="Excluir" url="@Url.Action("CarregaModalExclusao","TipoDocumento", new { idTipo = tipoDoc.IdTipoDoc })" href="#">
                            <i class="fa fa-trash-o icon-action"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>
